<h1>Login</h1>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="form-group">
    <div *ngIf="invalidUser">Either entered username or password is invalid</div>
    <label for="username">UserName</label>
<input class="form-control" type="text" formControlName="username" name="username" id="username"/>
<div *ngIf="username.touched&&username.invalid">
<div class="alert alert-danger" *ngIf="username.errors.minlength">username is not matching the min length</div>
<div class="alert alert-danger" *ngIf="username.errors.required">username must be filled</div>
</div>
</div>
<div class="form-group">
  <label for="password">Password</label>
<input type="password" class="form-control" formControlName="password" name="password" id="password">
</div>
<button type="submit" class="btn btn-primary">signin</button> 
</form> 